<div>
    {% block test_block %}
    {% for item in seq %}
        <h3>{{ item.name }}</h3>
        {% if item.description %}
            {% block test_block %}
                <p>{{ item.description }}</p>
            {% endblock %}
        {% endif %}
    {% endfor %}
    {% endblock test_block %}
    
    {% if images %}
        {% for image in images.more %}
            <img src="{{ image }}" />
        {% endfor %}
    {% endif %}
</div>